{
  "openapi": "3.0.0",
  "info": {
    "title": "Documentação da API e-commerce da QESH",
    "description": "<h2>Bem vindo à documentação da api do e-commerce da QESH</h2> Este guia vai te ajudar a interagir com os end points desta api!",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ecommerce.pw1.develop.us-east-1.qesh.ai",
      "description": "Servidor de Homologação"
    },
    {
      "url": "http://ecommerce.pw1.develop.us-east-1.qesh.ai",
      "description": "url de desenvolvimento"
    },
    {
      "url": "ecommerce.pw1.develop.us-east-1.qesh.ai",
      "description": "url de desenvolvimento"
    },
    {
      "url": "https://localhost:3001",
      "description": "url de desenvolvimento"
    },
    {
      "url": "http://localhost:3001",
      "description": "url de desenvolvimento"
    },
    {
      "url": "localhost:3001",
      "description": "url de desenvolvimento"
    }
  ],
  "paths": {
    "/v1/refresh-token": {
      "post": {
        "summary": "Renovar o token de acesso do usuario informando o refresh-token",
        "parameters": [
          {
            "in": "header",
            "name": "authorization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer Token"
            }
          }
        ],
        "description": "1° Como gerar um refresh_token : Quando um usuario se loga na aplicação duas credencias de acesso são geradas ( token, refresh_token ). <br/> 2° Como renovar o token de acesso: Para renovar um token de acesso o refresh_token deve ser enviado no header da requisição",
        "tags": [
          "AUTH"
        ],
        "responses": {
          "200": {
            "description": "novo token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "new jwt token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "msg: refresh token is required or refresh token is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "msg: refresh token is required or refresh token is invali"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login-shop-owner": {
      "post": {
        "summary": "Logar Usuário Lojista",
        "description": "Para logar um Lojista, enviar o body com email e senha para autorizacao. <br> tempo de expição: 60 minutos",
        "tags": [
          "AUTH"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/auth_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Um Token de acesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "TOKEN DE ACESSO"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request vai ser retornado quando alguma coisa no corpo da requisição veio errado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400-Response-Bad-Request"
                }
              }
            }
          },
          "404": {
            "description": "Not Found será retornado quando as credenciais não forem encontradas no servid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "internal server error - pode acontecer por má formação na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/login-shopper": {
      "post": {
        "summary": "Logar Usuário Comprador",
        "description": "Para logar um comprador, enviar o body com email e senha para autorizacao. <br> tempo de expição: 60 minutos",
        "tags": [
          "AUTH"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/auth_request_body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Um JSON  com as informações do banco",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "ey@#23948235sidufh349fg34fgjwenfg39ouivneijn23952u83jfidng"
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "ac01751b-4821-4afd-4ad1-5959e58d73db"
                          },
                          "bank_code": {
                            "type": "string",
                            "example": "655"
                          },
                          "bank_branch": {
                            "type": "string",
                            "example": "1111"
                          },
                          "bank_account": {
                            "type": "string",
                            "example": "6180000000"
                          },
                          "active": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "user": {
                      "type": "string",
                      "example": "3dde7624-55ef-3401-5e9c-b0994cf423c"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request vai ser retornado quando alguma coisa no corpo da requisição veio errado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400-Response-Bad-Request"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Criar uma loja ( credencial de IB )",
        "tags": [
          "SHOP"
        ],
        "description": "rota para criar uma loja<br> Observações:<br>a propriedade: <strong>days_store_operation</strong> é um array contendo os dias de funcionamento da loja, ons nomes são <ul><li>SUNDAY</li><li>MONDAY</li><li>TUESDAY</li><li>WEDNESDAY</li><li>THURSDAY</li><li>FRIDAY</li><li>SATURNDAY</li></ul> <br> A propriedade <strong>'address_owner'</strong> pode ser passado os seguintes valores: <br> <ul><li>SHOPPER</li><li>SHOP</li></ul><br> As propriedades: <strong>'document', 'email' e 'url'</strong> devem ser únicas<br> As urls de imagens <strong> img_web e img_mobile</strong> devem ser enviadas pela rota <strong>'/v1/shop/upload/icons'</strong> antes desta rota ser enviada",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userName": {
                    "type": "string",
                    "example": "Mackie"
                  },
                  "document": {
                    "type": "string",
                    "example": "0002401309001"
                  },
                  "client_id": {
                    "type": "string",
                    "example": "3cf47c5d-f064-4095-9b03-6f34d559fb4c"
                  },
                  "password": {
                    "type": "string",
                    "example": "1234562789111"
                  },
                  "name": {
                    "type": "string",
                    "example": "Makcie Store"
                  },
                  "email": {
                    "type": "string",
                    "example": "mackie@qesh.ai"
                  },
                  "phone": {
                    "type": "string",
                    "example": "3199328321"
                  },
                  "minimun_purchase": {
                    "type": "number",
                    "example": 13
                  },
                  "start_store_operation": {
                    "type": "string",
                    "example": "312"
                  },
                  "end_store_operation": {
                    "type": "string",
                    "example": "313"
                  },
                  "days_store_operation": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "MONDAY"
                    }
                  },
                  "show_address": {
                    "type": "boolean",
                    "example": false
                  },
                  "show_email": {
                    "type": "boolean",
                    "example": false
                  },
                  "is_closed": {
                    "type": "boolean",
                    "example": false
                  },
                  "primary_color": {
                    "type": "string",
                    "example": "#2222"
                  },
                  "secondary_color": {
                    "type": "string",
                    "example": "#2222"
                  },
                  "url": {
                    "type": "string",
                    "example": "https://mackie.com/"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street": {
                        "type": "string",
                        "example": "rua sei lá"
                      },
                      "number": {
                        "type": "string",
                        "example": "684"
                      },
                      "neighborhood": {
                        "type": "string",
                        "example": "Bairro Tenso"
                      },
                      "complementary_address": {
                        "type": "string",
                        "example": "fundos"
                      },
                      "city": {
                        "type": "string",
                        "example": "Belo Horizonte"
                      },
                      "state": {
                        "type": "string",
                        "example": "MG"
                      },
                      "zip_code": {
                        "type": "string",
                        "example": "31015-294"
                      },
                      "address_owner": {
                        "type": "string",
                        "example": "SHOPPER"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  },
                  "img_web": {
                    "type": "string",
                    "example": "https://th.bing.com/th/id/R.bcb381d440cc8c411cbe3cfed5aa4913?rik=mhE4uJNUt6EUyg&pid=ImgRaw&r=0"
                  },
                  "img_mobile": {
                    "type": "string",
                    "example": "https://th.bing.com/th/id/R.1dd190fc2369293cfbcc7295e06a96f2?rik=1hXHmg8hv9v6Gw&riu=http%3a%2f%2fwww.fcmusica.com%2fshop%2ffiles%2fMACKIE_LOGO.jpg&ehk=ng7Uq3s4NF%2fXMGxaOH8IuV1GgkA%2bbf2UTphXkcs9ueo%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "78f394e0-f99d-4b3e-ba68-5d8f99eda7dd"
                    },
                    "client_id": {
                      "type": "string",
                      "example": "bf58d4b8-aceb-4845-9cbf-4e391b37f643"
                    },
                    "name": {
                      "type": "string",
                      "example": "Ms."
                    },
                    "email": {
                      "type": "string",
                      "example": "Chad18@hotmail.com"
                    },
                    "phone": {
                      "type": "string",
                      "example": "710-750-0371"
                    },
                    "minimun_purchase": {
                      "type": "number",
                      "example": 53.32
                    },
                    "start_store_operation": {
                      "type": "string",
                      "example": "312"
                    },
                    "end_store_operation": {
                      "type": "string",
                      "example": "312"
                    },
                    "days_store_operation": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "WEDNESDAY",
                        "MONDAY"
                      ]
                    },
                    "show_address": {
                      "type": "boolean",
                      "example": false
                    },
                    "show_email": {
                      "type": "boolean",
                      "example": false
                    },
                    "is_closed": {
                      "type": "boolean",
                      "example": false
                    },
                    "primary_color": {
                      "type": "string",
                      "example": "#2222"
                    },
                    "secondary_color": {
                      "type": "string",
                      "example": "#2222"
                    },
                    "img_web": {
                      "type": "string",
                      "example": "https://develop-qesh1.s3.amazonaws.com/ecommerce/sales/2018-12-04%2021-02-00.173.jpg/1662996097933"
                    },
                    "img_mobile": {
                      "type": "string",
                      "example": "https://develop-qesh1.s3.amazonaws.com/ecommerce/sales/CQRSES-4.png/1662996097951"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://deborah.name"
                    },
                    "user_owner_id": {
                      "type": "string",
                      "example": "0dacd3ae-2be4-4c57-b4c8-c84c4239f51a"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-11-25T16:19:45.894Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2022-11-25T16:19:45.894Z"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "f82f47d5-c373-46fc-9414-9e9a6c5b6268"
                          },
                          "shopper_id": {
                            "type": "string",
                            "example": null
                          },
                          "shop_id": {
                            "type": "string",
                            "example": "78f394e0-f99d-4b3e-ba68-5d8f99eda7dd"
                          },
                          "street": {
                            "type": "string",
                            "example": "tested"
                          },
                          "number": {
                            "type": "string",
                            "example": "Banana"
                          },
                          "neighborhood": {
                            "type": "string",
                            "example": "tested"
                          },
                          "complementary_address": {
                            "type": "string",
                            "example": "tested"
                          },
                          "city": {
                            "type": "string",
                            "example": "tested"
                          },
                          "state": {
                            "type": "string",
                            "example": "tested"
                          },
                          "zip_code": {
                            "type": "string",
                            "example": "tested"
                          },
                          "address_owner": {
                            "type": "string",
                            "example": "SHOPPER ou SHOP"
                          },
                          "is_active": {
                            "type": "boolean",
                            "example": false
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2022-11-25T16:19:45.894Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2022-11-25T16:19:45.894Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/409-Response-Conflito"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/{shop_id}/{address_id}": {
      "patch": {
        "summary": "Atualizar uma loja ( credencial de lojista ) ",
        "tags": [
          "SHOP"
        ],
        "description": "Rota para atualizar os dados de uma loja.<br> os campos: <br><strong>userName, document, client_id, password e email</strong> não podem ser alterados",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "shop_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "required": true,
            "name": "address_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "kaique"
                  },
                  "phone": {
                    "type": "string",
                    "example": "31993328321"
                  },
                  "minimun_purchase": {
                    "type": "string",
                    "example": "53.32"
                  },
                  "start_store_operation": {
                    "type": "string",
                    "example": "312"
                  },
                  "end_store_operation": {
                    "type": "string",
                    "example": "312"
                  },
                  "days_store_operation": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "WEDNESDAY"
                    }
                  },
                  "show_address": {
                    "type": "boolean",
                    "example": false
                  },
                  "show_email": {
                    "type": "boolean",
                    "example": true
                  },
                  "is_closed": {
                    "type": "boolean",
                    "example": false
                  },
                  "primary_color": {
                    "type": "string",
                    "example": "#2222"
                  },
                  "secondary_color": {
                    "type": "string",
                    "example": "#2222"
                  },
                  "url": {
                    "type": "string",
                    "example": "www.djkaique.com.br"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street": {
                        "type": "string",
                        "example": "rua sei lá"
                      },
                      "number": {
                        "type": "string",
                        "example": "684"
                      },
                      "neighborhood": {
                        "type": "string",
                        "example": "Bairro Cabuloso"
                      },
                      "complementary_address": {
                        "type": "string",
                        "example": "frentes"
                      },
                      "city": {
                        "type": "string",
                        "example": "Belo Horizonte"
                      },
                      "state": {
                        "type": "string",
                        "example": "BA"
                      },
                      "zip_code": {
                        "type": "string",
                        "example": "31015-294"
                      },
                      "address_owner": {
                        "type": "string",
                        "example": "SHOPPER"
                      },
                      "is_active": {
                        "type": "boolean",
                        "example": false
                      }
                    }
                  },
                  "img_web": {
                    "type": "string",
                    "example": "https://th.bing.com/th/id/R.bcb381d440cc8c411cbe3cfed5aa4913?rik=mhE4uJNUt6EUyg&pid=ImgRaw&r=0"
                  },
                  "img_mobile": {
                    "type": "string",
                    "example": "https://th.bing.com/th/id/R.1dd190fc2369293cfbcc7295e06a96f2?rik=1hXHmg8hv9v6Gw&riu=http%3a%2f%2fwww.fcmusica.com%2fshop%2ffiles%2fMACKIE_LOGO.jpg&ehk=ng7Uq3s4NF%2fXMGxaOH8IuV1GgkA%2bbf2UTphXkcs9ueo%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Pedir um body real": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/upload/icons": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Upload de Logos ( credencial de lojista ) ",
        "tags": [
          "SHOP"
        ],
        "description": "rota para fazer upload das logos da loja. As imagens não podem ultrapassar 65335 KB. <br>As duas imagens são <strong>obrigatórias</strong><br> As imagens são os campos <strong>web e mobile</strong> em um campo do tipo multipart/form",
        "requestBody": {
          "required": true,
          "content": {
            "image/web": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "image/mobile": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "img_web": {
                      "type": "string",
                      "example": "https://clipground.com/images/mackie-logo-7.jpg"
                    },
                    "img_mobile": {
                      "type": "string",
                      "example": "https://clipground.com/images/mackie-logo-7.jpg"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "se o tamanho for maior que o limite de 65335 KB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/422-Response-Unprocessable_entity"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/upload/terms": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Upload terms",
        "description": "Upload terms to s3",
        "tags": [
          "SHOP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "aplication/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "example": "UUID of the client",
                    "type": "string"
                  },
                  "content": {
                    "example": "Markdown content",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Markdown saved on s3 sucefully"
          },
          "500": {
            "description": "Something went very wrong",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/terms/{client_id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get terms of service",
        "description": "Get terms of service on s3",
        "tags": [
          "SHOP"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "client_id",
            "description": "UUID of the client",
            "schema": {
              "type": "string",
              "example": "UUID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get the term file content",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string",
                  "example": "Markdown content"
                }
              }
            }
          },
          "404": {
            "description": "Term of Service not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "error: term not found"
                      }
                    },
                    "code": {
                      "type": "string",
                      "example": "error.shop.not_found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/exists/{client_id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "SHOP"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "client_id",
            "description": "client id para pesquisar ",
            "schema": {
              "type": "string",
              "example": "UUID client_id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "devolve o ID o email e a URL da loja",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "client_id": {
                      "type": "string",
                      "example": "UUID"
                    },
                    "email": {
                      "type": "string",
                      "example": "shop email"
                    },
                    "url": {
                      "type": "string",
                      "example": "shop url"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/find/{url}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "encontrar pela URL",
        "description": "Encontre uma loja através de sua URL",
        "tags": [
          "SHOP"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "url",
            "description": "client id para pesquisar",
            "schema": {
              "type": "string",
              "example": "URL para encontrar"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "devolve o ID o email e a URL da loja",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "UUID"
                    },
                    "name": {
                      "type": "string",
                      "example": null
                    },
                    "client_id": {
                      "type": "string",
                      "example": null
                    },
                    "minimun_purchase": {
                      "type": "number",
                      "example": 10
                    },
                    "start_store_operation": {
                      "type": "string",
                      "example": null
                    },
                    "end_store_operation": {
                      "type": "string",
                      "example": null
                    },
                    "days_store_operation": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "MONDAY"
                      }
                    },
                    "show_address": {
                      "type": "boolean",
                      "example": true
                    },
                    "show_email": {
                      "type": "boolean",
                      "example": true
                    },
                    "is_closed": {
                      "type": "boolean",
                      "example": false
                    },
                    "primary_color": {
                      "type": "string",
                      "example": "fffffff"
                    },
                    "secondary_color": {
                      "type": "string",
                      "example": "F7F7F7"
                    },
                    "img_web?": {
                      "type": "string",
                      "example": "LINK para img"
                    },
                    "img_mobile?": {
                      "type": "string",
                      "example": "LINK para mobile img"
                    },
                    "url?": {
                      "type": "string",
                      "example": "www.urldaloja.com"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/find/by/{store_id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "find by store_id",
        "description": "rota para listar todos os items de protudos ( usar na pagina de adicionar produtos em destaque ).",
        "tags": [
          "SHOP"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "store_id",
            "description": "store_id para pesquisar",
            "schema": {
              "type": "string",
              "example": "Id da Loja"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "78f394e0-f99d-4b3e-ba68-5d8f99eda7dd"
                    },
                    "client_id": {
                      "type": "string",
                      "example": "bf58d4b8-aceb-4845-9cbf-4e391b37f643"
                    },
                    "name": {
                      "type": "string",
                      "example": "Ms."
                    },
                    "email": {
                      "type": "string",
                      "example": "Chad18@hotmail.com"
                    },
                    "phone": {
                      "type": "string",
                      "example": "710-750-0371"
                    },
                    "minimun_purchase": {
                      "type": "number",
                      "example": 53.32
                    },
                    "start_store_operation": {
                      "type": "string",
                      "example": "312"
                    },
                    "end_store_operation": {
                      "type": "string",
                      "example": "312"
                    },
                    "days_store_operation": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "WEDNESDAY",
                        "MONDAY"
                      ]
                    },
                    "show_address": {
                      "type": "boolean",
                      "example": false
                    },
                    "show_email": {
                      "type": "boolean",
                      "example": false
                    },
                    "is_closed": {
                      "type": "boolean",
                      "example": false
                    },
                    "primary_color": {
                      "type": "string",
                      "example": "#2222"
                    },
                    "secondary_color": {
                      "type": "string",
                      "example": "#2222"
                    },
                    "img_web": {
                      "type": "string",
                      "example": "https://develop-qesh1.s3.amazonaws.com/ecommerce/sales/2018-12-04%2021-02-00.173.jpg/1662996097933"
                    },
                    "img_mobile": {
                      "type": "string",
                      "example": "https://develop-qesh1.s3.amazonaws.com/ecommerce/sales/CQRSES-4.png/1662996097951"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://deborah.name"
                    },
                    "user_owner_id": {
                      "type": "string",
                      "example": "0dacd3ae-2be4-4c57-b4c8-c84c4239f51a"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-11-25T16:19:45.894Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2022-11-25T16:19:45.894Z"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "f82f47d5-c373-46fc-9414-9e9a6c5b6268"
                          },
                          "shopper_id": {
                            "type": "string",
                            "example": null
                          },
                          "shop_id": {
                            "type": "string",
                            "example": "78f394e0-f99d-4b3e-ba68-5d8f99eda7dd"
                          },
                          "street": {
                            "type": "string",
                            "example": "tested"
                          },
                          "number": {
                            "type": "string",
                            "example": "Banana"
                          },
                          "neighborhood": {
                            "type": "string",
                            "example": "tested"
                          },
                          "complementary_address": {
                            "type": "string",
                            "example": "tested"
                          },
                          "city": {
                            "type": "string",
                            "example": "tested"
                          },
                          "state": {
                            "type": "string",
                            "example": "tested"
                          },
                          "zip_code": {
                            "type": "string",
                            "example": "tested"
                          },
                          "address_owner": {
                            "type": "string",
                            "example": "SHOPPER ou SHOP"
                          },
                          "is_active": {
                            "type": "boolean",
                            "example": false
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2022-11-25T16:19:45.894Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2022-11-25T16:19:45.894Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/find/clients/{shop_id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Listar todos os clientes compradores por loja",
        "description": "rota para listar todos os clientes da loja.",
        "tags": [
          "SHOP"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pagina para buscar"
            }
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string",
              "example": "paginação da busca"
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "description": "Opções ->  'name' 'created_at'",
            "required": false,
            "schema": {
              "enum": [
                "name",
                "created_at"
              ],
              "example": "oscolher uma das opções"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "1f0db51a-853f-11ed-a1eb-0242ac120002"
                      },
                      "name": {
                        "type": "string",
                        "example": "Fulano de tal"
                      },
                      "document": {
                        "type": "string",
                        "example": "92738457210"
                      },
                      "email": {
                        "type": "string",
                        "example": "email@teste.com"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2022-12-26T17:07:57.556Z"
                      },
                      "purchases": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "example": "IN_PROGRESS"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/find/last-acess/hour/{shop_id}": {
      "get": {
        "tags": [
          "SHOP"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Return the number of acess on shop for last hour",
        "description": "Return the number of acess on shop for last hour",
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "example": 9
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/find/last-acess/month/{shop_id}": {
      "get": {
        "tags": [
          "SHOP"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Return the number of acess on shop for last month",
        "description": "Return the number of acess on shop for last month",
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "example": 134
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sale/tracking-code/{sale_id}": {
      "post": {
        "summary": "route to add the tracking code in the sale",
        "description": "route to add the tracking code to the sale, change the shipping status of the sale and send a shipping confirmation email",
        "tags": [
          "SALE"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "sale_id",
            "schema": {
              "example": "UUID da venda"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tracking_code": {
                    "type": "string",
                    "example": "NA784568295BR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "response body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "SENT": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-sale-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sale/find/sales-extract/{shop_id}": {
      "get": {
        "tags": [
          "SALE"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "list store extract",
        "description": "rota para listar todas as vendas do extrato da loja",
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pagina para buscar"
            }
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string",
              "example": "paginação da busca"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "1f0db51a-853f-11ed-a1eb-0242ac120002"
                      },
                      "status": {
                        "type": "string",
                        "example": "IN_PROGRESS"
                      },
                      "payment_information_id": {
                        "type": "string",
                        "example": "cedd351a-87a6-11ed-a1eb-0242ac120002"
                      },
                      "cashback_amount_used": {
                        "type": "string"
                      },
                      "total_purchase_amount": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2022-12-28T23:50:44.370Z"
                      },
                      "payment_information": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "example": "2022-12-29T19:58:19.334Z"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      },
                      "shoppers": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "example": "fulano de tal"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sale/find/sales-historys/{shop_id}": {
      "get": {
        "tags": [
          "SALE"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "list sales historys",
        "description": "route to list store sales history",
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "string",
              "example": "pagina para buscar"
            }
          },
          {
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "type": "string",
              "example": "paginação da busca"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01-01-2024"
            }
          },
          {
            "in": "query",
            "name": "status",
            "required": true,
            "schema": {
              "type": "string",
              "example": "SENT"
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "required": true,
            "schema": {
              "type": "string",
              "example": "created_at"
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01-01-2020"
            }
          },
          {
            "in": "query",
            "name": "ordination",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ASC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response body",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "1f0db51a-853f-11ed-a1eb-0242ac120002"
                      },
                      "name": {
                        "type": "string",
                        "example": "nome teste"
                      },
                      "status": {
                        "type": "string",
                        "example": "AWAITING_PAYMENT"
                      },
                      "total_purchase_amount": {
                        "type": "string",
                        "example": 50
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2022-12-28T23:50:44.370Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sale/find/last-sales/{shop_id}": {
      "get": {
        "tags": [
          "SALE"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "return the sales number of the last 14 days",
        "description": "rota para retornar o numero de vendas dos ultimos 14 dias",
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "example": 64
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sale/find/order-preparation/{shop_id}": {
      "get": {
        "tags": [
          "SALE"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "route that return number of sales in preparation",
        "description": "route that return number of sales in preparation",
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number",
                  "example": 15
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sale/find/send-sales/{shop_id}": {
      "get": {
        "tags": [
          "SALE"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Route that returns sales already sent",
        "description": "Route that returns sales already sent<br>You can search by <strong>name</strong> or <strong>purchase id</strong>",
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01-01-2022"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01-01-2024"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string",
              "example": "fulano da silva"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "UUID"
                      },
                      "name": {
                        "type": "string",
                        "example": "Fulano de tal"
                      },
                      "status": {
                        "type": "string",
                        "example": "SENT"
                      },
                      "total_purchase_amount": {
                        "type": "number",
                        "example": 165.78
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2023-01-27T16:11:34.335Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sale/find/sales-in-preparation/{shop_id}": {
      "get": {
        "tags": [
          "SALE"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Route that return sales in preparation",
        "description": "Route that return sales in preparation<br>You can search by <strong>name</strong> or <strong>purchase id</strong>",
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01-01-2022"
            }
          },
          {
            "in": "query",
            "name": "endDate",
            "required": true,
            "schema": {
              "type": "string",
              "example": "01-01-2024"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string",
              "example": "fulano da silva"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "UUID"
                      },
                      "name": {
                        "type": "string",
                        "example": "Fulano de tal"
                      },
                      "status": {
                        "type": "string",
                        "example": "AWAITING_PAYMENT / IN_PROGRESS"
                      },
                      "total_purchase_amount": {
                        "type": "number",
                        "example": 165.78
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2023-01-27T16:11:34.335Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sale/find/sale-screen/{sale_id}": {
      "get": {
        "tags": [
          "SALE"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Route that return full sales information",
        "description": "Route that return total sale information (address, customer information, purchase information, and sale products)",
        "parameters": [
          {
            "in": "path",
            "name": "sale_id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "purchase": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "purchase_id": {
                            "type": "string",
                            "example": "ac01751b-4821-4afd-4ad1-5959e58d73db"
                          },
                          "sale_status": {
                            "type": "string",
                            "example": "SENT"
                          },
                          "total_purchase_amount": {
                            "type": "number",
                            "example": 57
                          },
                          "purchases_created_at": {
                            "type": "string",
                            "example": "2023-02-17T17:06:15.552Z"
                          },
                          "delivery_amount": {
                            "type": "number",
                            "example": 5
                          },
                          "cashback_amount_used": {
                            "type": "number",
                            "example": 2
                          },
                          "name_shopper": {
                            "type": "string",
                            "example": "Nome teste"
                          },
                          "document": {
                            "type": "string",
                            "example": "12660174610"
                          },
                          "zip_code": {
                            "type": "string",
                            "example": "31950550"
                          },
                          "state": {
                            "type": "string",
                            "example": "Minas Gerais"
                          },
                          "city": {
                            "type": "string",
                            "example": "Belo horizonte"
                          },
                          "neighborhood": {
                            "type": "string",
                            "example": "savassi"
                          },
                          "street": {
                            "type": "string",
                            "example": "rua teste"
                          },
                          "number": {
                            "type": "string",
                            "example": "20"
                          },
                          "payment_status": {
                            "type": "string",
                            "example": "AWAITING_PAYMENT"
                          },
                          "amount_paid": {
                            "type": "number",
                            "example": 23
                          },
                          "payment_created_at": {
                            "type": "string",
                            "example": "2023-02-17T17:06:15.552Z"
                          },
                          "amount": {
                            "type": "number",
                            "example": 345
                          },
                          "payment_information_type": {
                            "type": "string",
                            "example": "QESH_BILLET"
                          }
                        }
                      }
                    },
                    "product": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quantity_purchased": {
                            "type": "number",
                            "example": 0
                          },
                          "product_name": {
                            "type": "string",
                            "example": "Camisa Branca"
                          },
                          "sku": {
                            "type": "string",
                            "example": "QKDO083JSO"
                          },
                          "image_url": {
                            "type": "string",
                            "example": "//teste.imagem.url.com.br"
                          },
                          "description": {
                            "type": "string",
                            "example": "descrição da camisa"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-sale-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/changeStatusClosed/{shop_id}": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Change store opening status",
        "tags": [
          "SHOP"
        ],
        "description": "rota para alterar o estatus de aberto da loja:<br>A propriedade <strong>''status''</strong> pode ser passado os seguintes valores: <br> <ul><li>true: Loja fechada</li><li>false: Loja aberta</li>",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "shop_id",
            "description": "shop_id para pesquisar",
            "schema": {
              "type": "string",
              "example": "Id da Loja"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop/passwordConfirm/{shop_id}": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Validate password when updating store",
        "tags": [
          "SHOP"
        ],
        "description": "rota para confirmar a senha na hora de realizar uma alteração na loja",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "shop_id",
            "description": "shop_id para pesquisar",
            "schema": {
              "type": "string",
              "example": "Id da Loja"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "teste@1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "404": {
            "description": "NOT FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-shop-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shopper": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "criar um usuário Comprador",
        "description": "cria um comprador (SHOPPER) enviando o body",
        "tags": [
          "SHOPPER"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "name"
                  },
                  "shop_id": {
                    "type": "string",
                    "example": "UUID"
                  },
                  "email": {
                    "type": "string",
                    "example": "email@email.com"
                  },
                  "document": {
                    "type": "string",
                    "example": "09876543212"
                  },
                  "phone": {
                    "type": "string",
                    "example": "31987243446"
                  },
                  "password": {
                    "type": "string",
                    "example": "Senha muito boa"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "example": "senha muito boa"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "retorna o objeto criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "UUID"
                    },
                    "name": {
                      "type": "string",
                      "example": "name"
                    },
                    "shop_id": {
                      "type": "string",
                      "example": "UUID"
                    },
                    "email": {
                      "type": "string",
                      "example": "email@email.com"
                    },
                    "document": {
                      "type": "string",
                      "example": "09876543212"
                    },
                    "phone": {
                      "type": "string",
                      "example": "31987243446"
                    },
                    "password": {
                      "type": "string",
                      "example": "Senha muito boa"
                    },
                    "pre_registration": {
                      "type": "string",
                      "example": "pre_registration_value"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "timestamp"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "timestamp"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403-Response-Forbidden"
                }
              }
            }
          },
          "409": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/409-Response-Conflito"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shopper/login-shopper/{shop_id}": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Logar um usuário comprador",
        "description": "no body enviar as informações de login",
        "tags": [
          "SHOPPER"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shop_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID da loja"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "rafael.victor@qesh.ai"
                  },
                  "password": {
                    "type": "string",
                    "example": "@Eterno_6x1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK retorna um token de acesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "example": "TOKEN de acesso"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403-Response-Forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shopper/send-code-shopper": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "enviar codigo ao comprador",
        "description": "através do email, enviar um codigo de verificação ao usuário comprador(shopper)",
        "tags": [
          "SHOPPER"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "emaildealguem@dominio.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK retorna um token de acesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "menssagem de retorno"
                    },
                    "id": {
                      "type": "string",
                      "example": "UUID"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403-Response-Forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shopper/confirmation-code/send": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "confirmar o codigo do comprador",
        "description": "confirma se o codigo inserido foi o mesmo recebido pelo email",
        "tags": [
          "SHOPPER"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "example": "UUID user_id"
                  },
                  "code": {
                    "type": "string",
                    "example": "Codigo de confirmação recebido pelo comprador"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "recebe um Token de acesso temporario para poder efetuar as ações necessárias",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_id": {
                      "type": "string",
                      "example": "UUID"
                    },
                    "confirmed": {
                      "type": "boolean",
                      "example": true
                    },
                    "temporaryAccessToken": {
                      "type": "string",
                      "example": "TOKEN"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Código inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403-Response-INVALIDCODE"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shopper/update-password": {
      "patch": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "atualizar a senha do comprador",
        "description": "atualiza a senha de um comprador",
        "tags": [
          "SHOPPER"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "newPassoword": {
                    "type": "string",
                    "example": "Nova Senha"
                  },
                  "confirmPassword": {
                    "type": "string",
                    "example": "a mesma nova senha"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "retorna o shopper atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "UUID"
                    },
                    "name": {
                      "type": "string",
                      "example": "name"
                    },
                    "shop_id": {
                      "type": "string",
                      "example": "UUID"
                    },
                    "email": {
                      "type": "string",
                      "example": "email@email.com"
                    },
                    "document": {
                      "type": "string",
                      "example": "09876543212"
                    },
                    "phone": {
                      "type": "string",
                      "example": "31987243446"
                    },
                    "password": {
                      "type": "string",
                      "example": "undefined"
                    },
                    "pre_registration": {
                      "type": "string",
                      "example": "pre_registration_value"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "timestamp"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "timestamp"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403-Response-Forbidden"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shopper/clients/details/{shopper_id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Listar dados do cliente",
        "description": "rota para listar todos os dados do cliente.",
        "tags": [
          "SHOPPER"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shopper_id",
            "required": true,
            "schema": {
              "type": "string",
              "example": "UUID do cliente"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "1f0db51a-853f-11ed-a1eb-0242ac120002"
                    },
                    "shop_id": {
                      "type": "string",
                      "example": "bc02c4ba-6fd5-4538-9bad-e5a557c8985a"
                    },
                    "name": {
                      "type": "string",
                      "example": "Fulano de tal"
                    },
                    "document": {
                      "type": "string",
                      "example": "92738457210"
                    },
                    "email": {
                      "type": "string",
                      "example": "email@teste.com"
                    },
                    "phone": {
                      "type": "string",
                      "example": 31997042927
                    },
                    "pre_registration": {
                      "type": "boolean",
                      "example": false
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2022-12-26T17:07:57.556Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2022-12-28T23:46:18.891Z"
                    },
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "street": {
                            "type": "string",
                            "example": "rua sei lá"
                          },
                          "city": {
                            "type": "string",
                            "example": "Belo Horizonte"
                          },
                          "state": {
                            "type": "string",
                            "example": "MG"
                          },
                          "zip_code": {
                            "type": "string",
                            "example": "31015-294"
                          },
                          "complementary_address": {
                            "type": "string",
                            "example": "fundos"
                          },
                          "neighborhood": {
                            "type": "string",
                            "example": "Bairro Tenso"
                          },
                          "address_owner": {
                            "type": "string",
                            "example": "SHOPPER"
                          }
                        }
                      }
                    },
                    "purchases": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "example": "IN_PROGRESS"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404-Not-Found"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500-response-internal-server-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/shop_owner/send/code": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "enviar código de confirmação",
        "description": "para enviar um código de confirmação, envie o email do lojista",
        "tags": [
          "SHOP OWNER"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "email@pra.enviar.o.codigo"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "recebe uma mensagem e um id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
[...]
